body{
      font-family: "Cairo", sans-serif;
      font-optical-sizing: auto;
      margin:0;
      padding:0;
      height: 1290px;
      background-color: var(--background);
      -webkit-overflow-scrolling: touch;
}
@media (max-width:767px) {
  body{
    height: 700px;
  }    
  
}
html{
      scroll-behavior: smooth;
}

img{
    object-fit: cover;
    display: block;
}

a{
      text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent); 
}
:root{
--text: #e8ecf7;
--background: #050810;
--primary: #1f408d;
--secondary: #153c97;
--accent: #1b5aec;
--main-transition: 0.3s;
--main-padding: 100px 0;
 --main-h1-size:clamp(1.75rem, 1.477rem + 1.364vw, 2.5rem);
}
.load-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
}
.load-show {
  opacity: 1;
  transform: translateY(0);
}
.back-to-top{
position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary);
  color: white;
  padding: 10px ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;

}
.title {
    width: fit-content;
    position: relative;
    text-transform: uppercase;
    margin: 80px auto ;
    padding: 10px 20px; 
    color:var(--text);
    font-size: 40px;
    transition: var(--main-transition);
    z-index: 1;
}

.title::before {
    content: ""; 
    position: absolute;
    background-color: var(--primary);
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}


.title:hover {
    transition-delay: 0.5s;
}

.title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        width:100%;
        height:100% !important;
        border-radius: 0;
    }
}
 .logo{
  display: flex;
  align-items: center;
}
 .logo img{
  height: 73px;
  width:177px;
}
@media (max-width:991px){
  .logo{
  width: 100%;
  justify-content: center;
}   
}
.imge img {
   width: 380px;
    height: 100%;
   
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 10px 40px rgba(27, 90, 236, 0.3);
    transition: 0.4s ease;
}
@media (min-width:991px){
.imge img{
        max-width: 100%; 
}
}

@media(max-width:767px){
.imge img{
  width: 280px;
}
}
.imge img:hover{
 box-shadow: 0 0 40PX var(--primary);
}


ul{
      list-style:none;
}
*{
  box-sizing: border-box;
  color: inherit;
}
.container {
    padding-inline: 15px;
    margin-inline:auto;
}
@media (min-width:768px){
 .container{
  inline-size: 750px;
 }
}

@media (min-width:992px){
 .container{
  inline-size: 980px;
 }
}
@media (min-width:1200px){
 .container{
  inline-size: 1200px;
 }
}

header{
 background-color:#050810ca;
 position: fixed;
 left: 0;
 top: 0;
 right: 0;
 width: 100%;
 z-index: 1000;
 border-bottom:1px solid var(--text) ;
 .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap:wrap
 }
 @media (max-width:767px) {
  .container{
   justify-content: center;
  }
 }


.main-nav{
      display: flex;
      align-items: center;
      position: relative;
       height: 73px;

      a{
      padding-inline: 39px;
      color: var(--text);
      
      align-items: center;
      display: flex;
      overflow: hidden;
      font-size: clamp(0.875rem, 0.824rem + 0.253dvw, 1.125rem);
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);

}
a:hover:not( .active a ){
      color: var(--accent);
      scale: 1.2;
}
      .active{
            border-radius: 40px;
            border: 3px solid var(--primary);
            padding: 5px 0;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
}

.active:hover {
      background-color: var(--primary);
}

}
a:last-child .fa-solid{
      display: none;
    
     
}
@media (max-width:993px) {
.main-nav{
      display: none;
}
.logo {
   margin-inline: auto;

}
a:last-child .fa-solid{
      display: block;
      width: 100%;
      margin: auto;
      margin-block: 5px;
      font-size: 24px;
      color: var(--text);
}
#toggleBtn {
    transition: var(--main-transition);
    width: 5px;
    padding-block: 15px;
    margin: auto; 
}

#toggleBtn.clicked {
 transform: rotate(180deg);
 transition: var(--main-transition);
 color: var(--accent);

}
}
}
@media (max-width:993px) {
    .landing {
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.landing{
margin-top:73px;
 min-height: calc(100dvh - 73px);
 display: flex; 
    align-items: center;
.container{
display: flex;
      justify-content: space-between;
      align-items: center; 

}
@media (max-width:993px) {
     .container{
      display: flex;
      flex-direction:column-reverse;
      text-align: center;
      align-items: center;
     } 
     .info{
      margin-top: 15px;
      width: 100%;
      
     
     } 
     .info p{
   margin-inline: auto;
     }
}
.info{
      color: var(--text);
     flex: 1;
     
h3{
    font-size: 14px;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    margin: 0;
}
h1{
 font-size: clamp(2.813rem, 2.472rem + 1.705vw, 3.75rem);
 font-weight:bold ;   
 margin: 0;  
}
.text{
    color: var(--accent);
}
h2{
      margin:0;
}
p{
      width: 55%;
      line-height: 1.6;
      color: #fefefeac;
}
@media (max-width:991px) {
  p{
      width: 100%;

  }    
}
}


}
.skills{
      padding: var(--main-padding);
.filter-buttons{
display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 50px;
  flex-wrap: wrap;
}
.btn{
  background: transparent;
  border: 1px solid var(--primary);
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: clamp(0.875rem, 0.824rem + 0.253dvw, 1.125rem);
  font-weight: bold;
}
.glow:hover{
 background-color: var(--primary);
 transition: var(--main-transition);
 -webkit-transition: var(--main-transition);
 -moz-transition: var(--main-transition);
 -ms-transition: var(--main-transition);
 -o-transition: var(--main-transition);
}
.active{
      background-color: var(--primary);
}

.skills-grid{
  display: grid;
      grid-template-columns: repeat(auto-fit, 150px); 
      gap: 40px;
      justify-content: center;

 
}

.skill-card{
   margin-top: 50px;
   border: 2px solid var(--primary);
   border-radius: 20px;
   padding: 10px 20px;
   display: flex;
   cursor: pointer;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
    color: var(--text);

}
.skill-card:hover{
      box-shadow: 0 0 20px var(--primary);
      transition:var(--main-transition);
      -webkit-transition:var(--main-transition);
      -moz-transition:var(--main-transition);
      -ms-transition:var(--main-transition);
      -o-transition:var(--main-transition);
}
i {
  font-size:clamp(2.813rem, 2.472rem + 1.705vw, 3.75rem);
}
}
.about {
    padding: var(--main-padding);
    color: var(--text);
    position: relative;
}
.about-title{
  position: absolute;
  top: 35px;
  left: 44%;
  font-size: 43px;

}
.about-title:hover strong{
  color: var(--text);
  transition: var(--main-transition) 0.3s;
  -webkit-transition: var(--main-transition) 0.3s;
  -moz-transition: var(--main-transition) 0.3s;
  -ms-transition: var(--main-transition) 0.3s;
  -o-transition: var(--main-transition) 0.3s;
}
@media (max-width:993px) {
  .about-title{
    position: static;
    text-align: center;
    margin-bottom: 40px;
  }    
  
}
.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.about-content {
      width: 55%;
}

.about-content p {
    line-height: 1.8;
    font-size: 20px;
    color: #fefefeac;
    margin: 0;
    font-weight: 500;

}

 strong {
    color: var(--accent);
}

@media (max-width: 992px) {
    .about .container {
        flex-direction: column; 
        text-align: center;
        gap: 40px;
    }
    .about-content p {
        font-size: 1rem;
    }
    .about-content {
      width: 100%;
}
}
.project{
      padding: var(--main-padding);
.container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
gap: 30px;
}
.box{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  background-color:#1f408d0f;
}
.box:hover{
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
      box-shadow: 0 2px 15px var(--accent);
}
img{
      width: 100%;
  max-width: 100%;
}
.box h2{
      font-size: 24px;
      font-weight: bold;
      color: var(--text);
}
p{
  line-height: 1.6;
  color: #fefefeac;
  padding-inline: 20px;
   font-size: clamp(0.875rem, 0.824rem + 0.253dvw, 1.125rem);
}
.btn{
      color: var(--text);
      border-top: 3px solid var(--primary);
            translate: 0 2px;
      display:block;
      border-radius: 0 0 20px 20px;

      font-size: clamp(0.875rem, 0.824rem + 0.253dvw, 1.125rem);
      -webkit-border-radius: 0 0 20px 20px;
      -moz-border-radius: 0 0 20px 20px;
      -ms-border-radius: 0 0 20px 20px;
      -o-border-radius: 0 0 20px 20px;
      font-weight:bold ;
      padding-block: 6px;
      transform:translateY(3px);
      -webkit-transform:translateY(3px);
      -moz-transform:translateY(3px);
      -ms-transform:translateY(3px);
      -o-transform:translateY(3px);
}
.btn:hover{
      background-color: var(--primary);
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
}
}
.contact {
    padding: var(--main-padding);
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

 .main-input {
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .contact .main-input {
        flex-direction: column;
    }
}

.contact input:not(button),
.contact textarea {
    width: 100%;
    padding: 15px;
    color: var(--text);
    background-color: #0a0f1d; 
    border: 1px solid var(--primary);
    border-radius: 8px;
   
    outline: none;
    font-family: inherit;
}

.contact textarea {
    height: 150px;
    resize: none;
}

.contact input:focus,
.contact textarea:focus {
    box-shadow: 0 0 10px var(--primary);
    transition: var(--main-transition);
}

.contact button{
    width: fit-content;
    align-self: center;
    outline: 0;
    background-color: transparent;
    color: var(--text);
    font-weight: bold;
    border: 3px solid var(--primary);
    border-radius: 10px;
    padding: 15px 40px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contact button:hover{
      background-color: var(--primary);
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
}
.contact button:active{
      transform: translateY(5px);
      -webkit-transform: translateY(5px);
      -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
      -o-transform: translateY(5px);
}
footer{
    background-color: #03060d; 
    padding: 60px 0 20px;
    color: var(--text);
    text-align: center;
    @media (max-width:767px) {
    footer{
      text-align: center;
      margin: auto;
    }  
      
    }
    .footer-content{
      display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    margin-bottom: 40px;
    align-items:flex-start;
    }
     img {
   translate: 0 -80px;
   margin-inline: auto;
   width: 220px;

}

@media (max-width:767px) {
     img{
      width:100%;
      margin: auto;
     } 
}
.footer-links{
      width: 100%;
      
}
 a{
      color: var(--text);
      display: inline-block;
      padding: 5px 0;
}
.footer-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-links a:hover{
      color: var(--primary);
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
}
@media (max-width: 768px) {
  .footer-links a{
   display: flex;
   justify-content: center;
   align-items: center;
  }
}
     

 h3 {
   font-size: 24px;
    margin-bottom: 25px;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.social-icons {
    display: flex;
    gap: 25px; 
    justify-content: center;
    margin-top: 20px;
    padding-block: 10px;
}
@media (max-width:767px) {
    ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
}   
}
i{
         font-size: 30px;
         height: 40px;
         cursor: pointer;
         transition:var(--main-transition) ;
         -webkit-transition:var(--main-transition) ;
         -moz-transition:var(--main-transition) ;
         -ms-transition:var(--main-transition) ;
         -o-transition:var(--main-transition) ;
}
@media (max-width:767px) {
  .social-icons {
    justify-content: center;
  }
      
}
.social-icons a:hover .fa-facebook {
    color: #1877F2;
    transform: scale(1.2);
}

.social-icons a:hover .fa-whatsapp {
    color: #25D366;
    transform: scale(1.2);
}

.social-icons a:hover .fa-instagram {
    color: #E4405F;
    transform: scale(1.2);
}
.contact-item{
        padding: 10px;
        display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:767px){
  .contact-item{
       justify-content: center;
  }    
}
.contact-item:hover{
      border: 4px solid var(--primary);
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;

}
.contact-item i{
      font-size: 20px;
      margin-inline-end:10px;
           display: flex;
    align-items: center;
}
.copyright{
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #1f408d33;
    transform: translateY(50%);
    font-size: 1rem;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
}
.scrollar{
  position: fixed;
  left: 0;
 top: 107px;
  width: 0;
  height: 5px;
  background-color: var(--primary);
  z-index: 1001;
}
@media (max-width:993px) {
  .scrollar{
    top: 130px;
  }
  
}
@media (max-width:767px) {
  .scrollar{
    top: 128px;
  }
  
}


